
@{
    ViewData["Title"] = "Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pedido</h1>
<script src="~/js/Pedido/pedido.js"></script>

<div class="container-fluid" style="padding-top:15px">
    <div class="form-group row " id="" style="padding-right:5px; padding-left:5px; padding-top:0px; ">
        <div class="col-md-2" id="divInsert" style="padding-top:5px;">
            <button id="btnAbrirPedido" class="btn btn-sm btn-primary btn-block" style="height:50px" type="button" onclick="AbrirPedido();">+ Abrir Pedido</button>
        </div>
        <div class="col-md-2" id="divInsert" style="padding-top:5px;">
            <button id="btnPedidoAberto" class="btn btn-sm btn-warning btn-block" style="height:50px" type="button" onclick="ArrumaTela();">- Pedido Aberto</button>
        </div>
    </div>

    <div class="form-group row " id="" style="padding-right:5px; padding-left:5px; padding-top:0px; ">
        <div class="col-md-6">
            <select class="form-control" id="dropPedidosAbertos" name="dropPedidosAbertos" style="margin-top:0px; font-size:small; max-width:100%;">
                <option value="0" selected>Pedidos Abertos - Selecione um Pedido...</option>
            </select>
        </div>
    </div>

    <div class="form-group row " id="divLanche" style="padding-right:5px; padding-left:5px; padding-top:0px; ">
        <label class="col-md-1 col-form-label">Lanches</label>
        <div class="col-md-8">
            <select class="form-control" id="dropLanche" name="dropLanche" style="margin-top:0px; font-size:small; max-width:100%;">
                <option value="0" selected>Selecione um Lanche...</option>
            </select>
        </div>
    </div>
    <div class="form-group row " id="" style="padding-right:5px; padding-left:5px; padding-top:0px; ">
        <div class="col-md-12" id="divIngredientes"></div>
    </div>

    <div class="form-group row " id="" style="padding-right:5px; padding-left:5px; padding-top:0px; ">
        <div class="col-md-2" id="" style="padding-top:5px;">
            <button id="btnLimpar" class="btn btn-sm btn-dark btn-block" style="height:50px" type="button" onclick="LimparTela();">Limpar Tela</button>
        </div>
        <div class="col-md-2" id="" style="padding-top:5px;">
            <button id="btnInserirLanche" class="btn btn-sm btn-info btn-block" style="height:50px" type="button" onclick="InserirLanche();">Inserir Lanche</button>
        </div>
    </div>

    <hr />

</div>
<input type="hidden" id="txtIdPedido" name="txtIdPedido" style="display:none" required />

<script type="text/javascript">
    vAbrirPedido = '@Url.Action("AbrirPedido", "Pedido")';
    vListarLanches = '@Url.Action("ListarLanches", "Pedido")';
    vListarPedidosAbertos = '@Url.Action("ListarPedidosAbertos", "Pedido")';
    vListarIngredientesLanche = '@Url.Action("ListarIngredientesLanche", "Pedido")';
    vInserirItemPedido = '@Url.Action("InserirItemPedido","Pedido")';


    window.onload = function () {
        $("#dropPedidosAbertos").hide();
        $("#btnInserirLanche").hide();
        $("#divLanche").hide();
        CarregaDropPedidosAbertos();
        CarregaDropLanche();
    };

    $("#dropPedidosAbertos").change(function () {
        $("#txtIdPedido").val($("#dropPedidosAbertos").val());
        $("#btnAbrirPedido").hide();
        $("#divLanche").show();
    })

    $("#dropLanche").change(function () {
        CarregaIngredientesLanche();
        $("#btnInserirLanche").show();
    })

</script>
